.application {
  .layout {
    min-height: 100vh;
    margin: 0 auto;
    width: 1366px;
    background: #fbfbfb;
    .header {
      height: 65px;
      .ant-menu {
        line-height: 64px;
      }
      .logo {
        width: 120px;
        float: left;
        color: white;
      }
    }
  }
}