.humans {
  height: 100%;
  &-list {
    border-right: 1px solid #7e7e7e;
    height: 100%;
    &__search {
      padding: 8px;
      input {
        width: 100%;
        border: 1px solid #dfdfdf;
        height: 32px;
      }
    }
    &__item {
      padding: 8px 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .x-mark {
        width: 32px;
        border: 1px solid #bbbbbb;
        color: #989898;
        text-align: center;
        font-weight: 100;
        &:active {
          background: #989898;
        }
      }
      &.add {
        justify-content: center;
        color: #7475ee;
        &:active {
          color: #4952ee;
        }
      }
      &:hover, &.active {
        background: #dbdbdb;
      }
      &:active {
        background: #c9c9c9;
      }
    }
  }
  &-details {
    textarea, input {
      padding: 0 8px;
    }
    &__save {
      text-align: center;
      padding: 0 8px;
      button {
        height: 32px;
        width: 100%;
      }
    }
    &__notes {
      margin-top: 32px;
      padding-right: 8px;
      textarea {
        width: 100%;
        min-height: 240px;
        border: 1px solid #dfdfdf;
      }
    }
    form {
      padding: 16px;
      input {
        width: 100%;
        border: 1px solid #dfdfdf;
        height: 32px;
      }
    }
  }
}